/*body elements*/
body{
    font-family:'ff-zwo-web,arial,sans-serif';
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
}
/*header elements*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/*navigation bar size*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #fff;
}
/*logo of UzAuto Motors*/
img.logo{
    height: 45px;
    margin-top: 13px;
    padding: 0 100px;
    line-height: 80px;
}
/*list of pages on navbar*/
nav ul{
    float:right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}
/*links to the pages*/
nav a{
    position: relative;
    color: #a2a2a2;
    text-decoration: none;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    display: inline;
    font-size: 20px;
    margin: 0;
    padding: 7px 10px;
    /*border: 1px solid greenyellow;*/
    border-radius: 3px;
}
/*red solid border appears when categories hovered over*/
a.active,a:hover{
    border: 1px solid red;
    transition: .5s;
}
/*icon of navbar*/
nav #icon{
    color: black;
    font-size: 30px;
    line-height:80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
a.icon{
    color: black;
    font-size: 30px;
    line-height:80px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}


/*navigation bar responsive elements*/
@media (max-width:1048px){
    img.logo{
        height: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width:909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul.active{
        left: 0%;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border:none;
        color: #3498db;
    }
    nav ul.show{
       left: 0;

    }
}
hr{
    height: 30px;
    width: 100vw;
    background-color: rgb(63, 63, 200);
}
.heading{
    text-align: center;
    width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
    color: yellowgreen;
    font-weight: 500;
	letter-spacing: 2px;
    font-size: 2.5vw;
    color: rgb(83, 82, 82);
    text-transform: uppercase;
}
main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #a2a2a2;
}
div.text{
    border: 1px solid rgb(83, 82, 82);
    font-size: 18px;
    display: inline-block;
    color: #a2a2a2;
    background-color: #2f3640;
    border-radius: 10px;
    padding: 20px 25px;
    height: 40rem;
    width: 35rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow:12px 20px 12px black;
}
.history{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 50%;
    align-items: center;
    margin-top: 2rem;
}
.img-history{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content:space-between;
    margin-top: 30px;
}
.chevrolet{
    height: 15rem;
    width: 18rem;
    transition: transform .5s;
}
.chevrolet:hover{
    transform: scaleX(1.2);
}
.chevrolet img{
    box-shadow: 8px 12px 8px black;
}
.heading2{
    text-align: center;
    font-size: 2rem;
    color: rgb(83, 82, 82);
}
/*Footer*/
#footer{
    padding: 0;
    position: relative;
    overflow: hidden;
    background: #191E21;
    width: 100vw;
    color: #989898;
    font-size: 13px;
    margin: 0;
    display: block;
}
.containerInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.containerInfo a{
    color: #a2a2a2;
}
.containerInfo a:hover{
    color: #fff;
}
.pressCenter ul{
    color: gray !important;
    font-family: 'ff-zwo-web,arial,sans-serif';
}
/*facebook icon*/
div a i.fa-facebook{
    font-size: 30px;
    color: #a2a2a2;
}
div a i.fa-facebook:hover{
    border: none;
    color: azure;
}
/*instagram icon*/
div a i.fa-instagram{
    font-size: 30px;
    color: #a2a2a2;
}
div a i.fa-instagram:hover{
    border: none;
    color: azure;
}
/*telegram icon*/
div a i.fa-telegram{
    font-size: 30px;
    color: #a2a2a2;
}
div a i.fa-telegram:hover{
    border: none;
    color: azure;
}
/*youtube icon*/
div a i.fa-youtube{
    font-size: 30px;
    color: #a2a2a2;
}
div a i.fa-youtube:hover{
    border: none;
    color: azure;
}
.facebook{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh;

}
